/* 본문 공통 */

body{
		font:11px/18px Dotum, Tahoma, Verdana, AppleGothic, Sans-serif;
		background:url(images/bg.gif) top left repeat; 		
		background-color:#FFF;
		color:#333;
		line-height:18px;
		padding:0px;
		margin:20px;
		width: 950px;
}
a:link          { color:#333;     text-decoration:none;}
a:visited       { color:#333;     text-decoration:none;}
a:hover         { color:#c45050;  text-decoration:none;}
a:active        { color:#333;     text-decoration:none;}

input           { border:1px solid #aaa; font-size:11px; }
textarea        { border:1px solid #aaa; font-size:11px; }

div.title {
	padding:0;
	margin:0;
	color: #333333;
	font: bold 33px "Calibri", Arial;
}

#navigation {
	width: 950px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url(../images/navigation-bg.jpg) no-repeat left top;
} 
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
#navigation ul li {
	display: inline;
	margin: 0px;
} 
#navigation ul li a {
	height:33px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
	background: url(../images/navigation-separator.png) no-repeat right center;
} 

#navigation ul li a:hover {
	color:#363636;
	background: url(../images/navigation-hover.png) repeat-x left top;
}

#navigation ul li#active a {
	color:#363636;
	background: url(../images/navigation-hover.png) repeat-x left top;
}